# Naive Bayes
## CS-430
## Jerrin C. Redmon & Will C. Brown
### November 21, 2022

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
 names = sns.get_dataset_names()

In [ ]:
names

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [ ]:
df = sns.load_dataset('penguins')

In [ ]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

## Impute missing values

In [ ]:
df.describe()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
count,344.000000,344.000000,342.000000,342.000000,342.000000,342.000000
mean,0.918605,0.662791,43.921930,17.151170,200.915205,4201.754386
std,0.893320,0.726194,5.459584,1.974793,14.061714,801.954536
min,0.000000,0.000000,32.100000,13.100000,172.000000,2700.000000
25%,0.000000,0.000000,39.225000,15.600000,190.000000,3550.000000
50%,1.000000,1.000000,44.450000,17.300000,197.000000,4050.000000
75%,2.000000,1.000000,48.500000,18.700000,213.000000,4750.000000
max,2.000000,2.000000,59.600000,21.500000,231.000000,6300.000000

In [ ]:
from sklearn.impute import SimpleImputer
mode_imputer = SimpleImputer(strategy="most_frequent")
df.sex = mode_imputer.fit_transform(df[['sex']])

median_imputer = SimpleImputer(strategy="median")
df[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']] = median_imputer.fit_transform(df[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']])

In [ ]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.10,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.50,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.30,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,44.45,17.3,197.0,4050.0,Male
4,Adelie,Torgersen,36.70,19.3,193.0,3450.0,Female

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

## Encode Categorical Data

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_enc = LabelEncoder()
df.species = label_enc.fit_transform(df.species)
df.island = label_enc.fit_transform(df.island)
df.sex = label_enc.fit_transform(df.sex)

In [ ]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.10,18.7,181.0,3750.0,1
1,0,2,39.50,17.4,186.0,3800.0,0
2,0,2,40.30,18.0,195.0,3250.0,0
3,0,2,44.45,17.3,197.0,4050.0,1
4,0,2,36.70,19.3,193.0,3450.0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    int64
 1   island             344 non-null    int64
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 18.9 KB

## Get X and y

In [ ]:
X = df.drop('species', axis=1)
y = df.species

## Split data

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Naive Bayes Models

In [ ]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, ComplementNB, BernoulliNB, CategoricalNB

### Gaussian NB

In [ ]:
gaussian_nb = GaussianNB()
gaussian_nb.fit(X_train, y_train)
print("Train score:", gaussian_nb.score(X_train, y_train))
print("Test score:", gaussian_nb.score(X_test, y_test))

Train score: 0.9636363636363636
Test score: 0.9710144927536232

### Multinomial NB

In [ ]:
multinomial_nb = MultinomialNB()
multinomial_nb.fit(X_train, y_train)
print("Train score:", multinomial_nb.score(X_train, y_train))
print("Test score:", multinomial_nb.score(X_test, y_test))

Train score: 0.8581818181818182
Test score: 0.7971014492753623

### Complement NB

In [ ]:
complement_nb = ComplementNB()
complement_nb.fit(X_train, y_train)
print("Train score:", complement_nb.score(X_train, y_train))
print("Test score:", complement_nb.score(X_test, y_test))

Train score: 0.72
Test score: 0.6521739130434783

### Bernoulli NB

In [ ]:
bernoulli_nb = BernoulliNB()
bernoulli_nb.fit(X_train, y_train)
print("Train score:", bernoulli_nb.score(X_train, y_train))
print("Test score:", bernoulli_nb.score(X_test, y_test))

Train score: 0.6872727272727273
Test score: 0.6231884057971014

### Categorical NB

In [ ]:
categorical_nb = CategoricalNB()
categorical_nb.fit(X_train, y_train)
print("Train score:", categorical_nb.score(X_train, y_train))
print("Test score:", categorical_nb.score(X_test, y_test))

Train score: 0.9636363636363636
Test score: 0.9130434782608695

## Table

In [ ]:
from prettytable import PrettyTable
table = PrettyTable(['Model', 'Score'])
table.add_rows([
    ['Gaussian NB', gaussian_nb.score(X_test, y_test)],
    ['Multinomial NB', multinomial_nb.score(X_test, y_test)],
    ['Complement NB', complement_nb.score(X_test, y_test)],
    ['Bernoulli NB', bernoulli_nb.score(X_test, y_test)],
    ['Categorical NB', categorical_nb.score(X_test, y_test)]
])
print(table)

+----------------+--------------------+
|     Model      |       Score        |
+----------------+--------------------+
|  Gaussian NB   | 0.9710144927536232 |
| Multinomial NB | 0.7971014492753623 |
| Complement NB  | 0.6521739130434783 |
|  Bernoulli NB  | 0.6231884057971014 |
| Categorical NB | 0.9130434782608695 |
+----------------+--------------------+

## Results: Gaussian is GAMING